<%- include('../includes/head.ejs') %>
    <body>
        <section class="section">
            <div class="container">

                    <p class="title" style="text-align: center;">Consultar Diplomado</p>
                    <section style="width: 50%; margin-top: 50px;">
                        <p>Seccion</p>
                    </section>
    </body>
</html>