<%- include('../includes/dropdown_admin.ejs') %>
<body>

<form action="/diplomado/registrar_diplomado" method="POST" onsubmit="return validateForm()">
    <label for="Duracion">Duración:</label>
    <input type="text" id="Duracion" name="Duracion" required>
    <label for="precioDiplomado">Precio:</label>
    <input type="number" id="precioDiplomado" name="precioDiplomado" required>
    <label for="nombreDiplomado">Nombre:</label>
    <input type="text" id="nombreDiplomado" name="nombreDiplomado" required>
    <button type="submit">Registrar Diplomado</button>
</form>

<script>
    function validateForm() {
        var precio = document.getElementById("precioDiplomado").value;
        var nombre = document.getElementById("nombreDiplomado").value;
        if (precio <= 0) {
            alert("El precio debe ser mayor a 0");
            return false;
        }
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/diplomado/check_diplomado?nombre=" + nombre, false);
        xmlhttp.send();
        var exists = JSON.parse(xmlhttp.responseText).exists;
        if (exists) {
            alert("Ese diplomado ya existe");
            return false;
        }
    }
</script>


</body>
</html>