<%- include('../includes/head.ejs', { 
    username: username, 
    permisos: permisos, 
    rol: rol }) 
%>
<body>
    <section class="section">
        <div class="container">
            <div class="columns">
            <div class="column is-1">
                <a id="Boton_regresar" type="submit" class="is-responsive"
                    onclick="regresar()">
                    <span class="icon">
                        <i class="fas fa-arrow-left fa-2x"></i>
                    </span>
                </a>
            </div>
            <div class="column">
                <label class="label is-large has-text-danger has-text-weight-semibold">
                    REGISTRAR DIPLOMADO
                </label>
            </div>
        </div>
        </div>
        
            <form id="formDiplomado" action="/diplomado/registrar_diplomado" method="POST" style="width: 50%; margin-top: 50px;" placeholder="Horas / meses">
                <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>">

                
                <label for="nombreDiplomado" class="label is-large">Nombre:</label>
                <input type="text" id="nombreDiplomado" name="nombreDiplomado" required class="input is-large" onchange="validateAll()" placeholder="Nombre del Diplomado">
                <div id="errorNombre" style="color: red;"></div> <!-- Mensaje de error para el nombre -->
                
                <label for="precioDiplomado" class="label is-large">Precio:</label>
                <input type="number" id="precioDiplomado" name="precioDiplomado" step="any" required class="input is-large" onchange="validateAll()" placeholder="Precio del Diplomado">
                <div id="errorPrecio" style="color: red;"></div> <!-- Mensaje de error para el precio -->

                <label for="Fecha Inicio" class="label is-large">Fecha Inicio/Fecha Fin:</label>

                    <div class="field">
                        <p class="control has-icons-left">
                            <input type="date" id="fecha" name="fecha" class="datepicker">
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-calendar-week" style="color: #95404c;"></i>
                            </span>
                        </p>
                    
                <br>
                <br>
                <button type="submit" id="btnSubmit" class="button is-large is-rounded is-responsive">
                    <span>Registrar Diplomado</span>
                    <span class="icon is-large">
                        <i class="fa-solid fa-circle-chevron-right" style="color: #ffffff;"></i>
                    </span>
                </button>
                <p id="errorMessage" style="color: red;"></p>
            </form>
        </div>
    </section>
    <script type="text/javascript" src="/js/registrar_diplomado.js"></script>
    <script type="text/javascript" src="/js/boton_regresar.js"></script>
</body>
<%- include('../includes/foot.ejs') %>
