<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIAPago</title>
    <link href="/css/mystyles.css" rel="stylesheet" type="text/css">
    <link href="/css/extrastyles.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <div class="headbar-end">
        <div class ="navbar-start">
            <a class="navbar-item">
                Juan Perez
            </a>

            <a class="navbar-item">
                A01234
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                |||
                </a>

                <div class="navbar-dropdown">
                    <ul class="sidebar-list">
                        <li><a class="sidebar-item" href="/alumnos/A2"><i class="fas fa-clock"></i> Horario</a></li>
                        <li><a class="sidebar-item" href="/alumnos/A3"><i class="fas fa-money-bill-wave"></i> Realizar Pago</a></li>
                        <li><a class="sidebar-item" href="/alumnos/A4"><i class="fas fa-file-invoice-dollar"></i> Estado Cuenta</a></li>
                    </ul>
                </div>
            </div>
        </div>
            <a class="headbar-img" href="/alumnos/A1">
                <img src="\images\logo.png" alt="Via diseño logo">
            </a>
        </div>

    </div>

    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            // Tu código JavaScript actual

            // Agrega un evento de clic al menú desplegable
            const dropdown = document.querySelector('.navbar-dropdown');
            dropdown.parentElement.addEventListener('click', () => {
                // Abre o cierra el menú desplegable
                dropdown.classList.toggle('open');
            });
        });

        document.addEventListener('DOMContentLoaded', (event) => {
        const path = window.location.pathname;
        const link = document.querySelector(`a[href="${path}"]`);
        if (link) {
            link.classList.add('current-page');
        }
    });
    </script>
</body>
</html>





