</div>
<footer class="footer column is-narrow" style="margin-bottom: -1em;">
    <div class="content has-text-centered">
        <p>&copy; <%= new Date().getFullYear() %> VIA PAGO.</p>
        <p>
            <a href="/Terminos_Condiciones_241205_114501.pdf" download style="color: inherit; text-decoration: none;">
                Términos y Condiciones.
            </a>
        </p>
        <p>Contacto: administracion@ivd.edu.mx</p>
    </div>
</footer>
</body>
</div>
</html>