</div>
<footer class="footer column is-narrow" style="margin-bottom: -1em;">
    <div class="content has-text-centered">
        <p>&copy; <%= new Date().getFullYear() %> VIA PAGO.</p>
    </div>
</footer>
</body>
</div>
</html>