<!DOCTYPE html>
<html lang="es-MX">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIAPago</title>
    <link href="/css/mystyles.css" rel="stylesheet" type="text/css">
    <link href="/css/extrastyles.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://kit.fontawesome.com/98026b1a47.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-img" href="/">
                <img src="\images\logo.png" alt="Via diseño logo" width="100" height="100">
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarViaDiseño">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbarViaDiseño" class="navbar-menu">
            <div class="navbar-start">
                <div class="navbar-item">
                    username
                </div>
                    
                <% if (rol == 2) { %>
                    <a class="navbar-item" href="/">
                    <span class="icon is-large">
                        <i class="fa-solid fa-graduation-cap"></i>
                    </span>
                    Diplomado
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        <span class="icon is-large">
                            <i class="fa-solid fa-users"></i>
                        </span>
                        Alumnos
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/">
                            <span class="icon is-large">
                                <i class="fa-regular fa-user"></i>
                            </span>
                            Consultar Alumno
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="/">
                            <span class="icon is-large">
                                <i class="fa-solid fa-calendar-check"></i>
                            </span>
                            Horario Alumno
                        </a>
                    </div>
                </div>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        <span class="icon is-large">
                            <i class="fa-solid fa-dollar-sign"></i>
                        </span>
                        Pagos
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/">
                            <span class="icon is-large">
                                <i class="fa-solid fa-bell"></i>
                            </span>
                            Registrar Solicitud de Pago
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="/">
                            <span class="icon is-large">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </span>
                            Administrar Solicitudes de Pago
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="/">
                            <span class="icon is-large">
                                <i class="fa-solid fa-money-check-dollar"></i>
                            </span>
                            Estado de Cuenta Alumno
                        </a>
                        <hr class="navbar-divider">
                    </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        <span class="icon is-large">
                            <i class="fa-solid fa-gear"></i>
                        </span>
                        Configuracion
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/">
                            <span class="icon is-large">
                                <i class="fa-solid fa-money-bills"></i>
                            </span>
                            Costo Crédito
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="/">
                            <span class="icon is-large">
                                <i class="fa-solid fa-calendar-week"></i>
                            </span>
                            Plan de Pago
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="/">
                            <span class="icon is-large">
                                <i class="fa-solid fa-calendar-check"></i>
                            </span>
                            Periodo
                        </a>
                        <hr class="navbar-divider">
                    </div>
                </div>
                <% } %>

                <% if (rol == 3) { %>
                <a class="navbar-item" href="/">
                    <span class="icon is-large">
                        <i class="fa-solid fa-calendar-week"></i>
                    </span>
                    Horario
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item" href="/">
                    <span class="icon is-large">
                        <i class="fa-solid fa-dollar-sign"></i>
                    </span>
                    Realizar Pago
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item" href="/">
                    <span class="icon is-large">
                        <i class="fa-solid fa-money-check-dollar"></i>
                    </span>
                    Estado de cuenta
                </a>
                <% } %>
            </div>
    </nav>
</body>