<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIAPago</title>
    <link href="/css/mystyles.css" rel=" stylesheet" type="text/css">
    <link href="/css/extrastyles.css" rel=" stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<nav class="headbar" role="navigation" aria-label="main navigation">
    <div class="navbar-menu">
      <div class="headbar-start">
        <a class="headbar-item" color:#000000>
          Juan Perez
        </a>
  
        <a class="headbar-item" color:#000000>
          A01234
        </a>
      </div>
  
      <div class="navbar-end">
        <a class="headbar-img">
          <img src="\images\logo.png" alt="Via diseño logo">
        </a>
      </div>
    </div>
  </nav>
  