<!DOCTYPE html>
<html lang="es-MX">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIAPago</title>
    <link href="/css/mystyles.css" rel="stylesheet" type="text/css">
    <link href="/css/extrastyles.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://kit.fontawesome.com/98026b1a47.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-img" href="/">
                <img src="\images\logo.png" alt="Via diseño logo" width="100" height="100">
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarViaDiseño">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbarViaDiseño" class="navbar-menu">
            <div class="navbar-start">
                <% if (contienePermiso(permisos, 'Consultar Propuesta de Horario') == true) { %>
                <a class="navbar-item" href="/">
                    <span class="icon is-large" style="margin-left: -0.5em;">
                        <i class="fa-solid fa-calendar-week"></i>
                    </span>
                    Horario
                </a>
                <% } %>
                <% if (contienePermiso(permisos, 'Registrar diplomado') == true || 
                       contienePermiso(permisos, 'Modificar diplomado') == true || 
                       contienePermiso(permisos, 'Consultar diplomado') == true) { %>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link" style="padding-right: 2.1em;">
                            <span class="icon is-large" style="margin-left: -0.5em;">
                                <i class="fa-solid fa-graduation-cap"></i>
                            </span>
                            Diplomado
                        </a>
                        <div class="navbar-dropdown" style="width: 100%;">
                        <% if (contienePermiso(permisos, 'Registrar diplomado') == true) { %>
                            <a class="navbar-item" href="/">
                                <span class="icon is-large">
                                    <i class="fa-solid fa-bell"></i>
                                </span>
                                Registrar
                            </a>
                            <hr class="navbar-divider">
                        <% } %>
                        <% if (contienePermiso(permisos, 'Modificar diplomado') == true) { %>
                            <a class="navbar-item" href="/">
                                <span class="icon is-large">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </span>
                                Modificar
                            </a>
                            <hr class="navbar-divider">
                        <% } %>
                        <% if (contienePermiso(permisos, 'Consultar diplomado') == true) { %>
                            <a class="navbar-item" href="/">
                                <span class="icon is-large">
                                    <i class="fa-solid fa-clipboard"></i>
                                </span>
                                Consultar
                            </a>
                        <% } %>
                        </div>
                    </div>
                <% } %>
            </div> 
    </nav>
    <script>
        $(document).ready(function () {

            // Check for click events on the navbar burger icon
            $(".navbar-burger").click(function () {

                // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                $(".navbar-burger").toggleClass("is-active");
                $(".navbar-menu").toggleClass("is-active");

            });
        });
    </script>
</body>