<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIAPago</title>
    <link href="/css/mystyles.css" rel=" stylesheet" type="text/css">
    <link href="/css/extrastyles.css" rel=" stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>


<aside class="sidebar-menu">
    <ul class="sidebar-list">
      <li><a class="navbar-item"><i class="fas fa-clock"></i> Horario</a></li>
      <li><a class="navbar-item"><i class="fas fa-money-bill-wave"></i> Realizar Pago</a></li>
      <li><a class="navbar-item"><i class="fas fa-file-invoice-dollar"></i> Estado Cuenta</a></li>
    </ul>
</aside>

  

  
  