<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIAPago</title>
    <link href="/css/mystyles.css" rel=" stylesheet" type="text/css">
    <link href="/css/extrastyles.css" rel=" stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
  <aside class="sidebar-menu">
      <ul class="sidebar-list">
        <li><a class="sidebar-item" href="/administrador/S2"><i class="fas fa-user"></i> Usuarios</a></li>
        <li><a class="sidebar-item" href="/administrador/S3"><i class="fas fa-graduation-cap"></i> Diplomado</a></li>
        <li><a class="sidebar-item" href="/administrador/S4"><i class="fas fa-file-invoice-dollar"></i> Costo Crédito</a></li>
        <li><a class="sidebar-item" href="/administrador/S5"><i class="fa-solid fa-dollar sign"></i> Pagos</a></li>
        <li><a class="sidebar-item" href="/administrador/S6"><i class="fa-solid fa-receipt"></i> Colegiatura</a></li>
      </ul>
  </aside>

  <script>
    document.addEventListener('DOMContentLoaded', (event) => {
      const path = window.location.pathname;
      const link = document.querySelector(`a[href="${path}"]`);
      if (link) {
        link.classList.add('current-page');
      }
    });
  </script>
</body>
</html>