<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIAPago - Error</title>
    <link href="/css/mystyles.css" rel=" stylesheet" type="text/css">
    <link href="/css/extrastyles.css" rel=" stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<nav class="headbar" role="navigation" aria-label="main navigation">
  
      <div class="navbar-end">
        <a class="headbar-img">
          <!-- <img class="is-32x32" src="\images\logo.png" alt="Via diseño logo"> -->
        </a>
      </div>
    </div>
  </nav>

  <div class="column is-three-quarters">
    <div class="box">
        <p>La página que estás buscando no existe. Verifica el url e intenta de nuevo.</p>
    </div>
</div>

</html>