<%- include('includes/head.ejs', {
    username: username,
    permisos: permisos,
    rol: rol
}) %>

<section class="section">
    <div class="container">
        <h3 id="title" class="title"> 404 - Página no encontrada </h3>
        <div class="box">
            <p>La página que estás buscando no existe. Verifica el url e intenta de nuevo.</p>
        </div>
    </div>
</section>
<%- include('./includes/foot.ejs') %>
