<%- include('includes/head.ejs', {
    username: username,
    permisos: permisos,
    rol: rol
}) %>

<section class="section">
    <div class="container">
        <label class="label is-large has-text-danger has-text-weight-semibold">
            404 - PÁGINA NO ENCONTRADA
        </label>
        <div class="box">
            <p>La página que estás buscando no existe. Verifica el url e intenta de nuevo.</p>
        </div>
    </div>
</section>
<%- include('./includes/foot.ejs') %>
