<%- include('includes/head.ejs', {
    username: username,
    permisos: permisos,
    rol: rol
}) %>

<section class="section">
    <div class="container">
        <h3 id="title" class="title"> 500 - Error en la petición </h3>
        <div class="box">
            <p>Lo sentimos. Hubo un error al procesar la petición. Favor de intentar de nuevo,</p>
        </div>
    </div>
</section>

</html>