<%- include('includes/head.ejs', {
    username: username,
    permisos: permisos,
    rol: rol
}) %>

<section class="section">
    <div class="container">
        <h3 id="title" class="title"> 500 - Error en la petición </h3>
        <div class="box">
            <p>Lo sentimos. Hubo un error al procesar la petición. Favor de intentar de nuevo.</p>
        </div>
        <% if (error_alumno == true) { %> 
            <div class="notification" style="background-color: #5a6581; color:#ffffff;">
                ¡No has hecho nada malo, no te preocupes! Este error se generó porque las materias que intentaste inscribir no están en la base de datos. 
                Por favor contacta a dirección para que puedan corregir esto, y ya que corrijan el error puedes intentar de nuevo.
            </div>
        <% } %>
    </div>
</section>

</html>