<%- include('includes/head.ejs', {
    username: username,
    permisos: permisos,
    rol: rol
}) %>

<section class="section">
    <div class="container">
        <label class="label is-large has-text-danger has-text-weight-semibold">
            500 - ERROR EN LA PETICIÓN
        </label>
        <div class="box">
            <% if (error_alumno == true) { %>
                <p>¡No has hecho nada malo, no te preocupes! Por el momento el servicio para tu horario no está disponible. Por favor intenta más tarde.</p>
            <% } else { %> 
                <p>Lo sentimos. Hubo un error al procesar la petición. Favor de intentar de nuevo.</p>
            <% } %>
        </div>
    </div>
</section>
<%- include('./includes/foot.ejs') %>
