<%- include('includes/head.ejs', {
    username: username,
    permisos: permisos,
    rol: rol
}) %>

<section class="section">
    <div class="container">
        <h3 id="title" class="title"> 500 - Error en la petición </h3>
        <div class="box">
            <p>Lo sentimos. Hubo un error al procesar la petición. Favor de intentar de nuevo.</p>
        </div>
        <% if (error_alumno == true) { %> 
            <div class="notification" style="background-color: #5a6581; color:#ffffff;">
                ¡No has hecho nada malo, no te preocupes! Por el momento el servicio de confirmar horario no está disponible. Por favor intenta más tarde.
            </div>
        <% } %>
    </div>
</section>
<%- include('./includes/foot.ejs') %>
