<%- include('includes/dropdown_alumno.ejs') %>
<body>                        
             <!-- Tutorial Pago -->
            <main class="main-content">
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">Cómo realizar Pago</p>
                        </div>
                        <div class="media-right">
                            <a href="#" class="button is-white">
                                <i class="fas fa-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div

            <!-- Tutorial Horario -->
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">Cómo confirmar Horario</p>
                        </div>
                        <div class="media-right">
                            <a href="#" class="button is-white">
                                <i class="fas fa-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </main>

</html>