<%- include('includes/head_alumno.ejs') %>
<body>
    <div class="container is-fluid">
        <div class="columns">
            <div class="column is-one-quarter sidebar">
                <%- include('includes/sidebar_alumno.ejs') %>
            </div>

            <div class="container mt-5">
                <div class="box">
                    <div class="table-container">
                        <table class="table is-fullwidth is-striped">
                            <tbody>
                                <!-- Materias del horario -->
                                <tr>
                                    <td>
                                        <div class="media">
                                            <div class="media-left">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <div class="media-content">
                                                <p class="has-text-black">Construcción de vestidos y toma de decisiones</p>
                                                <p class="has-text-grey">Eduardo Daniel Juárez Pineda, Ricardo Cortés Espinosa</p>
                                                <p class="has-text-grey">Lun, Mar, Jue, Vie 09:00 - 11:00</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="has-text-black">12.02.2024 - 03.05.2024</p>
                                        <p class="has-text-grey">QR01 | Campus Querétaro Aulas II | 2003</p>
                                    </td>
                                    <td>
                                        <p class="has-text-black">Grupo 402 | CRN 25864</p>
                                        <p class="has-text-grey">Presencial</p>
                                    </td>
                                </tr>
                                <!-- Aquí se pueden agregar más materias -->
                                <tr>
                                    <td>
                                        <div class="media">
                                            <div class="media-left">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <div class="media-content">
                                                <p class="has-text-black">Implementación de métodos de moda</p>
                                                <p class="has-text-grey">Adrián Gómez Romero, Bernardo Gómez Romero</p>
                                                <p class="has-text-grey">Mar, Vie 09:00 - 11:00</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="has-text-black">12.02.2024 - 03.05.2024</p>
                                        <p class="has-text-grey">QR01 | Campus Querétaro Aulas LXIX | 69420</p>
                                    </td>
                                    <td>
                                        <p class="has-text-black">Grupo 2 | CRN 23443</p>
                                        <p class="has-text-grey">Presencial</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
</html>