<%- include('includes/head.ejs') %>
<body>
    <div class="container is-fluid">
        <div class="columns">
            <div class="column is-one-quarter sidebar">
                <%- include('includes/sidebar.ejs') %>
            </div>

                <!-- Estado de cuenta -->
                <main class="main-content">
                <table class="table">
                    <thead>
                      <tr>
                        <th><abbr title="Saldo total">SaldoTot</abbr></th>
                        <th><abbr title="Saldo a pagar">SaldoPag</abbr></th>
                        <th><abbr title="Fecha límite">Lim</abbr></th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </main>
</html>