<%- include('includes/dropdown_admin.ejs') %>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-3"></div>
            <div class="column is-6">
                <h3 class="title is-3">Registrar Solicitud de Pago Extra</h3>
            </div>
        </div>
        <div class="columns">
            <div class="column is-3"></div>
            <div class="column is-6">
                <p>Por favor busca al alumno que se va a registrar la solicitud de Pago</p>
            </div>
        </div>
        <form action="/pagos/fetch_registrar_solicitud" method="POST">
            <div class="columns">
                <div class="column is-3"></div>
                <div class="column is-6">
                    <div class="field">
                        <p class="control has-icons-left">
                            <input class="input is-medium" type="text" placeholder="Busca a un alumno" />
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-magnifying-glass" style="color: #95404c;"></i>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
             <div class="columns">
                 <div class="column is-3"></div>
                 <div class="column is-6">
                     <button class="button is-rounded is-medium is-responsive" type="submit"
                         style="font-size: large; margin: 8px 2px;" id="Boton_buscar">
                         <span>Buscar Alumno</span>
                         <span class="icon is-large">
                             <i class="fa-solid fa-circle-chevron-right" style="color: #ffffff;"></i>
                         </span>
                     </button>
                 </div>
                 <div class="column is-3"></div>
             </div>
        </form>
    </div>
</section>