<%- include('includes/dropdown_admin.ejs') %>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-3"></div>
            <div class="column is-6">
                <% if (solicitud_pago == true) { %>
                <h3 class="title is-3">Registrar Solicitud de Pago</h3>
                <% } else if (pago_manual == true) { %>
                <h3 class="title is-3">Registrar Pago Manual</h3>
                <% } %>
            </div>
        </div>
        <form action="/pagos/fetch_registrar_solicitud" method="POST">
            <div class="columns">
                <div class="column is-3"></div>
                <div class="column is-6">
                    <label class="label is-medium" for="buscar">Busca a un alumno:</label>
                    <div class="field">
                        <p class="control has-icons-left">
                            <input name="busca" class="input is-medium" type="text" id="buscar"
                                placeholder="Nombre o Matrícula del Alumno" />
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-magnifying-glass" style="color: #95404c;"></i>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column is-3"></div>
                <div class="column is-6">
                    <button class="button is-rounded is-medium is-responsive" type="submit"
                        style="font-size: large; margin: 8px 2px;" id="Boton_buscar" disabled>
                        <span>Buscar Alumno</span>
                        <span class="icon is-large">
                            <i class="fa-solid fa-circle-chevron-right" style="color: #ffffff;"></i>
                        </span>
                    </button>
                </div>
                <div class="column is-3"></div>
            </div>
        </form>
    </div>
</section>
<script>
    const buscar_alumno = () => {
        console.log('Buscando...');
        const valor_busqueda = document.getElementById('buscar').value;

        //función que manda la petición asíncrona
        fetch('/pagos/registrar_solicitud/autocomplete/' + valor_busqueda, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        }).then((result) => {
            return result.json(); //Regresa otra promesa
        }).then((data) => {
            console.log(data);
            let html = '';
            //Modificamos el DOM de nuestra página de acuerdo a los datos de la segunda promesa
        }).catch(err => {
            console.log(err);
        });
    };

    const buscar = document.querySelector('#buscar');
    buscar.addEventListener('input', buscar_alumno);
</script>