<%- include('includes/head.ejs', {
    username: username,
    permisos: permisos,
    rol: rol
}) %>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-2"></div>
            <div class="column is-8">
                <% if (solicitud_pago == true) { %>
                    <div class="columns">
                        <div class="column is-narrow">
                            <a id="Boton_regresar" type="submit" class="is-responsive"
                                onclick="regresar()">
                                <span class="icon">
                                    <i class="fas fa-arrow-left fa-2x"></i>
                                </span>
                            </a>
                    </div>
                    <div class="column">
                        <label class="label is-large has-text-danger has-text-weight-semibold">
                            REGISTRAR SOLICITUD DE PAGO
                        </label>
                    </div>
                </div>
                <% } else if (pago_manual == true) { %>
                    <label class="label is-large has-text-danger has-text-weight-semibold">REGISTRAR PAGO MANUAL</label>
                <% } else if (fichas_pago == true) { %>
                    <label class="label is-large has-text-danger has-text-weight-semibold">MODIFICAR FICHAS DE PAGO</label>
                <% } else if (datos_alumno == true) { %>
                    <label class="label is-large has-text-danger has-text-weight-semibold">CONSULTAR ALUMNO</label>
                <% } %>
            </div>
        </div>
        <% if (fichas_pago != true && datos_alumno != true) { %>
        <form action="/pagos/fetch_registrar_<% if (solicitud_pago) { %>solicitud <% } else { %>pago_manual <% } %>" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="columns">
                <div class="column is-2"></div>
                <div class="column is-8">
                    <label class="label is-medium" for="buscar"> Busca a un alumno:</label>
                    <p class="help is-hidden has-text-danger-dark" id="ayuda_buscar"
                        style="padding: 0.5em; margin-top: -1em;">Por favor
                        ingresa a un alumno.</p>
                    <p class="help is-hidden has-text-danger-dark" id="ayuda_alumno"
                        style="padding: 0.5em; margin-top: -1em;">Por favor selecciona a un alumno de la lista.</p>
                    <p class="help is-hidden has-text-danger-dark" id="ayuda_vacio"
                        style="padding: 0.5em; margin-top: -1em;">No existe un alumno con ese nombre o matrícula. Favor
                        de intentar de nuevo.</p>
                    <div class="field">
                        <p class="control has-icons-left">
                            <input name="buscar" class="input is-medium" type="text" id="buscar"
                                placeholder="Nombre o Matrícula del Alumno" />
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-magnifying-glass" style="color: #95404c;"></i>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column is-2"></div>
                <div class="column is-8">
                    <button class="button confirmar-button is-responsive" style="font-size: large; padding-left: 1.5em;"
                        type="submit" id="Boton_buscar" disabled>
                        <% if (solicitud_pago == true) { %>
                        <span>Registrar Solicitud al Alumno</span>
                        <% } else if (pago_manual == true) { %>
                        <span>Registrar Pago Manual</span>
                        <% } %>
                        <span class="icon is-large">
                            <i class="fa-solid fa-circle-chevron-right" style="color: #ffffff;"></i>
                        </span>
                    </button>
                </div>
                <div class="column is-2"></div>
            </div>
        </form>
    </div>
    <%  } else if (solicitud_pago != true && pago_manual != true) { %> %>
    <form action="/alumnos/<% if (fichas_pago) { %>fichas <% } else { %>datos_alumno <% } %>" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <div class="columns">
            <div class="column is-2"></div>
            <div class="column is-8">
                <label class="label is-medium" for="buscar">Busca a un alumno:</label>
                <p class="help is-hidden has-text-danger-dark" id="ayuda_buscar"
                    style="padding: 0.5em; margin-top: -1em;">Por favor
                    ingresa a un alumno.</p>
                <p class="help is-hidden has-text-danger-dark" id="ayuda_alumno"
                    style="padding: 0.5em; margin-top: -1em;">Por favor selecciona a un alumno de la lista.</p>
                <p class="help is-hidden has-text-danger-dark" id="ayuda_vacio"
                    style="padding: 0.5em; margin-top: -1em;">No existe un alumno con ese nombre o matrícula. Favor
                    de intentar de nuevo.</p>
                <div class="field">
                    <p class="control has-icons-left">
                        <input name="buscar" class="input is-medium" type="text" id="buscar"
                            placeholder="Nombre o Matrícula del Alumno" />
                        <span class="icon is-small is-left">
                            <i class="fa-solid fa-magnifying-glass" style="color: #95404c;"></i>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-2"></div>
            <div class="column is-8">
                <button class="button confirmar-button is-responsive" style="font-size: large; padding-left: 1.5em;"
                    type="submit" id="Boton_buscar" disabled>
                    <% if (fichas_pago == true) { %>
                    <span>Modificar Fichas de Pago</span>
                    <% } else if (datos_alumno == true) { %>
                    <span>Consultar Alumno</span>
                    <% } %>
                    <span class="icon is-large">
                        <i class="fa-solid fa-circle-chevron-right" style="color: #ffffff;"></i>
                    </span>
                </button>
            </div>
            <div class="column is-2"></div>
        </div>
    </form>
</div>
<% } %>
</section>
<%- include('./includes/foot.ejs') %>
<script type="text/javascript" src="/js/fetch_alumno.js"></script>
<script type="text/javascript" src="/js/boton_regresar.js"></script>