<%- include('includes/dropdown_admin.ejs') %>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">


<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-3"></div>
            <div class="column is-6">
                <% if (solicitud_pago == true) { %>
                <h3 class="title is-3">Registrar Solicitud de Pago</h3>
                <% } else if (pago_manual == true) { %>
                <h3 class="title is-3">Registrar Pago Manual</h3>
                <% } %>
            </div>
        </div>
        <form action="/pagos/fetch_registrar_solicitud" method="POST">
            <div class="columns">
                <div class="column is-3"></div>
                <div class="column is-6">
                    <label class="label is-medium" for="buscar">Busca a un alumno:</label>
                    <p class="help is-hidden has-text-danger-dark" id="ayuda_buscar"
                        style="padding: 0.5em; margin-top: -1em;">Por favor
                        ingresa a un alumno.</p>
                    <p class="help is-hidden has-text-danger-dark" id="ayuda_alumno"
                        style="padding: 0.5em; margin-top: -1em;">Por favor selecciona a un alumno de la lista.</p>
                    <p class="help is-hidden has-text-danger-dark" id="ayuda_vacio"
                        style="padding: 0.5em; margin-top: -1em;">No existe un alumno con ese nombre o matrícula. Favor
                        de intentar de nuevo.</p>
                    <div class="field">
                        <p class="control has-icons-left">
                            <input name="buscar" class="input is-medium" type="text" id="buscar"
                                placeholder="Nombre o Matrícula del Alumno" />
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-magnifying-glass" style="color: #95404c;"></i>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column is-3"></div>
                <div class="column is-6">
                    <button class="button is-rounded is-medium is-responsive" type="submit"
                        style="font-size: large; margin: 8px 2px;" id="Boton_buscar" disabled>
                        <% if (solicitud_pago == true) { %>
                        <span>Registrar Solicitud al Alumno</span>
                        <% } else if (pago_manual == true) { %>
                        </span>Registrar Pago Manual al Alumno</span>
                        <% } %>
                        <span class="icon is-large">
                            <i class="fa-solid fa-circle-chevron-right" style="color: #ffffff;"></i>
                        </span>
                    </button>
                </div>
                <div class="column is-3"></div>
            </div>
        </form>
    </div>
</section>
<script>
    let alumno = "";
    const bt_buscar = document.querySelector('#Boton_buscar');
    const ayuda_alumno = document.querySelector('#ayuda_alumno');
    const buscar = document.querySelector('#buscar');

    const buscar_alumno = () => {
        const valor_busqueda = document.getElementById('buscar').value;
        //función que manda la petición asíncrona
        fetch('/pagos/registrar_solicitud/autocomplete/' + valor_busqueda, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        }).then((result) => {
            return result.json(); //Regresa otra promesa
        }).then((data) => {

            console.log(data.alumnos)

            const ayuda_vacio = document.querySelector('#ayuda_vacio');
            if (data.alumnos.length == 0 && bt_buscar.disabled == true) {
                ayuda_alumno.classList.add('is-hidden');
                ayuda_vacio.classList.remove('is-hidden');
            } else {
                ayuda_vacio.classList.add('is-hidden');
            }

            $("#buscar").autocomplete({
                source: data.alumnos.map(function (alumnos) {
                    return (alumnos.Nombre + ' ' + alumnos.Apellidos + ' ' +
                        alumnos.Matricula);
                }),
                select: function (event, ui) {
                    alumno = ui.item.value;
                    bt_buscar.disabled = false;
                },
                minLength: 3
            });

        }).catch(err => {
            console.log(err);
        });
    };

    $("#buscar").on("autocompleteselect", function (event, ui) {
        ayuda_alumno.classList.add('is-hidden');
    });

    const ayuda_buscar = document.querySelector('#ayuda_buscar');

    // Checar si hay contenido dentro del input, pata desactivar el boton
    function checar_contenido() {
        bt_buscar.disabled = buscar.value.length === 0
    }

    function mensaje_buscar() {
        if (buscar.value.length === 0) {
            ayuda_buscar.classList.remove('is-hidden');
        } else {
            ayuda_buscar.classList.add('is-hidden');
        }
    }

    // Checar si hay contenido dentro del input, pata desactivar el boton
    function checar_alumno() {
        if (buscar.value != alumno) {
            bt_buscar.disabled = true;
            ayuda_alumno.classList.remove('is-hidden');
        } else {
            ayuda_alumno.classList.add('is-hidden');
        }

        if (buscar.value.length === 0) {
            ayuda_alumno.classList.add('is-hidden');
        }
    }

    // function mensaje_alumno_no_existente(){
    //     const ayuda_vacio = document.querySelector('#ayuda_vacio');

    //     if (bt_buscar.disabled == false){
    //         ayuda_vacio.classList.add('is-hidden');
    //     }
    //     else {
    //         ayuda_vacio.classList.remove('is-hidden');
    //     }
    // }

    buscar.addEventListener('input', buscar_alumno);
    buscar.addEventListener('input', checar_contenido);
    buscar.addEventListener('input', mensaje_buscar);
    buscar.addEventListener('input', checar_alumno);
</script>