<%- include('includes/dropdown_admin.ejs') %>

<body>
  <section class="section">
    <div class="container">

      <% if (error) { %>
      <div class="notification is-danger">
        <strong> <%= error %></strong>
      </div>
      <% } %>


      <form action="/auth/<% if (registrar) { %>signup <% } else { %>login <% } %>" method="post" class="lg-form">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <div>
          <label for="IDUsuario">ID Usuario</label>
          <input type="text" name="IDUsuario" id="IDUsuario" />
        </div>
        <div>
          <label for="password">Contraseña</label>
          <input type="password" name="password" id="password" />
        </div>
        <div>
          <input type="submit" value="<% if (registrar) { %>Registrarse <% } else { %>Log in <% } %>"/>
        </div>
      </form>
    </div>
  </section>
</body>

</html>