<!DOCTYPE html>
<html lang="es-MX">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIAPago</title>
    <link href="/css/mystyles.min.css" rel="stylesheet" type="text/css">
    <link href="/css/extrastyles.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://kit.fontawesome.com/98026b1a47.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
</head>

<style>
    .desktop_menu {
        color: #ffffff;
    }

    .main_menu {
        color: #ffffff;
    }

    .switch-label {
        margin-top: 10px; 
    }

    .link-reseteo {
  
        display: inline-block;
        color: #3273dc; 
        text-decoration: underline; 
    }

    .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    }

</style>

<header>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-img" href="/">
                <img src="\images\logo.png" alt="Via diseño logo" width="100" height="100">
            </a>
</header>

<body>
  <section class="section">
    <div class="container">

      <% if (error) { %>
      <div class="notification is-danger">
        <strong> <%= error %></strong>
      </div>
      <% } %>

    <h3 id="title" class="title"> Iniciar sesión </h3>
    <div class="container">
      <form action="/auth/<% if (registrar) { %>signup <% } else { %>login <% } %>" method="post" class="lg-form">
        <div class="field">
          <label class="label" for="IDUsuario">Nombre de usuario</label>
          <div class="control has-icons-left">
            <input class="input" type="text" name="IDUsuario" id="IDUsuario" placeholder="" />
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </div>
        </div>

        <div class="field">
          <label class="label" for="password">Contraseña</label>
          <div class="control has-icons-left">
            <input class="input" type="password" name="password" id="password" placeholder="" />
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
            <label class="switch">
              <input type="checkbox" onclick="togglePassword('password')">
              <span class="switch-label">Mostrar contraseña</span>
            </label>
          </div>
        </div>
            <div class="is-clearfix">
            <a href="falta" class="link-reseteo">Restablecer contraseña</a> 
            <!-- FALTA AGREGAR GET RESTABLECER CONTRA -->
            </div>

            

        <div class="field">
          <div class="control">
            <input type="submit" class="button is-primary" value="<% if (registrar) { %>Registrarse <% } else { %>Iniciar Sesión <% } %>"/>
          </div>
        </div>
      </form>
    </div>
  </section>

  <script>
    function togglePassword(inputId) {
      var x = document.getElementById(inputId);
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
    }
  </script>
</body>

</html>
