<%- include('includes/head.ejs') %>
<body>
    <div class="container is-fluid">
        <div class="columns">
            <div class="column is-one-quarter sidebar">
                <%- include('includes/sidebar.ejs') %>
            </div>
                
                <!-- Area de pago -->
                <main class="main-content">
                <div class="box">
                    <form>
                        <div class="field">
                            <label class="label" for="reason">Motivo:</label>
                            <div class="control has-icons-right">
                                <div class="select is-fullwidth">
                                    <select id="reason">
                                        <option>Seleccione un motivo</option>
                                    </select>
                                </div>
                                <div class="icon is-small is-right">
                                    <i class="fas fa-chevron-down"></i>
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label" for="concept">Concepto:</label>
                            <div class="control">
                                <input class="input" type="text" id="concept" placeholder="Ingrese el concepto">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label" for="amount">Monto a pagar:</label>
                            <div class="control">
                                <input class="input" type="text" id="amount" placeholder="Ingrese el monto">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label" for="note">Nota:</label>
                            <div class="control">
                                <textarea class="textarea" id="note" placeholder="Agregue una nota"></textarea>
                            </div>
                        </div>

                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-danger" type="button">
                                    <i class="fas fa-wallet"></i> Pagar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
</body>

</html>
