<%- include('includes/head.ejs', {
    username: username,
    permisos: permisos,
    rol: rol
}) %>

<style>
    .switch-label {
        margin-top: 10px;
    }

    .link-reseteo {

        display: inline-block;
        color: #3273dc;
        text-decoration: underline;
    }

    .toggle-password {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
</style>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <label class="label is-large has-text-danger has-text-weight-semibold">
                    RESTABLECER CONTRASEÑA
                </label>
                <label class="label is-medium">Ingresa tu matrícula: </label>
                <form action="/auth/reset_password" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input required id="usernameInput" class="input is-medium" name="username" 
                    placeholder="Matrícula del usuario">
                    
                <br></br>
            
                <p class="control">
                    <button type="submit" class="confirmar-button is-medium is-responsive"
                        style="font-size: large; padding-left: 1em;" id="guardarBtn">
                        <span>MANDAR CORREO</span>
                            <span class="icon is-large">
                                <i class="fa-solid fa-circle-chevron-right" style="color: #ffffff;"></i>
                            </span>
                    </button>
                    <p id="errorMessage" style="color: red;"></p>
                </p>
                    </form>    
            </div>
        </div>
    </div>
</section>
<%- include('./includes/foot.ejs') %>