<%- include('includes/head.ejs', {
    username: username,
    permisos: permisos,
    rol: rol
}) %>

<style>
    .switch-label {
        margin-top: 10px;
    }

    .link-reseteo {

        display: inline-block;
        color: #3273dc;
        text-decoration: underline;
    }

    .toggle-password {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
</style>

<section class="section">
    <div class="container">
        <h3 id="title" class="title">Ingresa tu Matrícula</h3>
        <form action="/auth/reset_password" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input required id="usernameInput" class="input" name="username">
            <button id="guardarBtn" type="submit" class="button is-primary">Recibir correo</button>
        </form>
        <p id="errorMessage" style="color: red;"></p>
    </div>
</section>
<%- include('./includes/foot.ejs') %>