<%- include('includes/head.ejs', {
  username: username,
  permisos: permisos 
}) %>
<body>

            <div class="column is-half">
                <div class="block">
                    <!-- Botón actualizar base de datos -->
                    <main class="main-content">
                    <button class="button is-large is-fullwidth">Actualizar Base de Datos</button>
                </div>

                <div class="block">
                    <!-- Botón exportar datos -->
                    <main class="main-content">
                        <button class="button is-large is-fullwidth">Exportar Datos</button>
                </div>
            </div>
        </div>
    </div>
</div>