<%- include('includes/head.ejs') %>
<body>
    <div class="container is-fluid">
        <div class="columns">
            <div class="column is-one-quarter sidebar">
                <%- include('includes/sidebar_admin.ejs') %>
            </div>

        <section class="section">
            <div class="container">
            <div class="columns is-centered">
                <div class="column is-half">
                <a class="button is-large is-fullwidth" href="/visualizador/S2_1">Registrar diplomado</a>
                <a class="button is-large is-fullwidth" href="/visualizador/S2_2">Modificar diplomado</a>
                </div>
            </div>
            </div>
        </section>
        </body>
        
        </html>