<%- include('includes/head_admin.ejs') %>
<body>
    <div class="container is-fluid">
        <div class="columns">
            <div class="column is-one-quarter sidebar">
                <%- include('includes/sidebar_admin.ejs') %>
            </div>

            <div class="column is-half">
                <div class="block">
                    <!-- Botón actualizar base de datos -->
                    <main class="main-content">
                    <a class="button is-large is-fullwidth" href="/administrador/S21">Registrar Diplomado</a>
                </div>

                <div class="block">
                    <!-- Botón exportar datos -->
                    <main class="main-content">
                        <a class="button is-large is-fullwidth" href="/administrador/S22">Modificar diplomado</a>
                </div>
            </div>
        </div>
    </div>
</div>
        </html>