<%- include('includes/dropdown_admin.ejs') %>
<body>

            <div class="column is-half">
                <div class="block">
                    <!-- Botón actualizar base de datos -->
                    <main class="main-content">
                    <a class="button is-large is-fullwidth" href="/administrador/S21">Registrar Diplomado</a>
                </div>

                <div class="block">
                    <!-- Botón exportar datos -->
                    <main class="main-content">
                        <a class="button is-large is-fullwidth" href="/administrador/S22">Modificar diplomado</a>
                </div>
            </div>
        </div>
    </div>
</div>
        </html>