<%- include('includes/head.ejs') %>
<body>
    <div class="container is-fluid">
        <div class="columns">
            <div class="column is-one-quarter sidebar">
                <%- include('includes/sidebar_admin.ejs') %>
            </div>


            <main class="main-content">
                <div class="box">
                    <form>
                        <div class="field">
                            <label class="label" for="reason">IDDiplomado:</label>
                            <div class="control has-icons-right">
                                <div class="select is-fullwidth">
                                    <select id="reason">
                                        <option>Seleccione un ID</option>
                                    </select>
                                </div>
                                <div class="icon is-small is-right">
                                    <i class="fas fa-chevron-down"></i>
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label" for="concept">Nombre:</label>
                            <div class="control">
                                <input class="input" type="text" id="concept">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label" for="amount">Duracion:</label>
                            <div class="control">
                                <input class="input" type="text" id="concept">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label" for="amount">Precio:</label>
                            <div class="control">
                                <input class="input" type="text" id="amount">
                            </div>
                        </div>

                        <div class="block">
                            <!-- Botón exportar datos -->
                            <main class="main-content">
                                <a class="button is-large is-fullwidth" href="/administrador/S2">Regresar</a>
                        </div>
