<%- include('includes/head.ejs') %>

<body>
    <div class="container is-fluid">
        <div class="columns">
            <div class="column is-one-quarter sidebar">
                <%- include('includes/sidebar_admin.ejs') %>
            </div>
        </div>
        <section class="section">
            <div class="container">
                <a class="button is-responsive" href="/">Registrar Usuario</a>
                <a class="button is-responsive" href="/">Consultar Usuario</a>
            </div>
        </section>
    </div>
</body>
</html>
