<%- include('includes/dropdown_admin.ejs') %>

<body>

            <section class="section">
                <div class="container">
                    <a class="button is-responsive is-large is-fullwidth" href="/administrador/S3_1">Registrar
                        Usuario</a>
                    <a class="button is-responsive is-large is-fullwidth" href="/administrador/S3_2">Consultar
                        Usuario</a>
                </div>
            </section>
        </div>
    </div>
</body>

</html>