<%- include('includes/head_admin.ejs') %>

<body>
    <div class="container is-fluid">
        <div class="columns">
            <div class="column is-one-quarter sidebar">
                <%- include('includes/sidebar_admin.ejs') %>
            </div>
            <section class="section">
                <div class="container">
                    <a class="button is-responsive is-large is-fullwidth" href="/administrador/S8">Consultar
                        Administrador</a>
                    <a class="button is-responsive is-large is-fullwidth" href="/administrador/S9">Consultar Alumno
                        Profesional</a>
                    <a class="button is-responsive is-large is-fullwidth"
                        href="/administrador/S5">Consultar Alumno Diplomado</a>

                </div>
            </section>
        </div>
    </div>
</body>

</html>