<%- include('includes/dropdown_admin.ejs') %>
<body>

            <main class="main-content">
                <div class="box">
                    <form>

                        <div class="media-content">
                            <p class="has-text-black">Precio Actual:</p>
                            <p class="has-text-grey">$5,000</p>
                        </div>

                        <div class="field">
                            <label class="label" for="amount">Precio Nuevo:</label>
                            <div class="control">
                                <input class="input" type="text" id="concept">
                            </div>
                        </div>

                        <div class="block">
                            <!-- Botón exportar datos -->
                            <main class="main-content">
                                <button class="button is-large is-fullwidth" >Registrar costo de credito</button>
                        </div>