<%- include('includes/head.ejs') %>
<body>
    <div class="container is-fluid">
        <div class="columns">
            <div class="column is-two-fifths sidebar">
                <%- include('includes/sidebar_admin.ejs') %>
            </div>
                <!-- Area de pago -->
                <main class="main-content">
                <div class="box">
                    <form>
                        <div class="field">
                            <label class="label" for="matricula">Matrícula:</label>
                            <div class="control">
                                <input class="input" type="text" id="matricula">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label" for="nombre">Nombre:</label>
                            <div class="control">
                                <input class="input" type="text" id="nombre">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label" for="diplomado">Diplomado:</label>
                            <div class="control">
                                <input class="input" type="text" id="diplomado">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label" for="precio_diplomado">Precio diplomado:</label>
                            <div class="control">
                                <input class="input" type="text" id="precio_diplomado">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label" for="monto_a_pagar">Monto a pagar:</label>
                            <div class="control">
                                <input class="input" type="text" id="monto_a_pagar">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label" for="plan_de_pago_actual">Plan de pago actual:</label>
                            <div class="control">
                                <input class="input" type="text" id="plan_de_pago_actual">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label" for="estatus_de_pago">Estatus de pago:</label>
                            <div class="control">
                                <input class="input" type="text" id="estatus_de_pago">
                            </div>
                        </div>

                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-danger" type="button">
                                    Enviar correo a alumno
                                </button>
                            </div>
                            <div class="control">
                                <button class="button is-danger" type="button">
                                    Eliminar usuario
                                </button>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
</body>

</html>
