<%- include('includes/head.ejs') %>
<body>
    <div class="container is-fluid">
        <div class="columns">
            <div class="column is-one-quarter sidebar">
                <%- include('includes/sidebar_admin.ejs') %>
            </div>
            
            <div class="column is-half">
                <div class="block">
                    <!-- Botón modificar plan de pago -->
                    <main class="main-content">
                        <button class="button is-large is-fullwidth">Modificar plan de pago</button>
                            </div>
            
                <div class="block">
                    <!-- Botón modificar colegiatura -->
                    <main class="main-content">
                        <button class="button is-large is-fullwidth">Modificar colegiatura</button>
                            </div>

                <div class="block">
                    <!-- Botón registrar plan de pago -->
                    <main class="main-content">
                        <button class="button is-large is-fullwidth">Registrar plan de pago</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>