<%- include('includes/dropdown_admin.ejs') %>
<body>
            <main class="main-content">
                <div class="box">
                    <figure class="image is-480x320 is-fullwidth">
                        <img src="/images/reporte-ingresos.png">
                    </figure>
                </div> 
            </main>
        </div>
    </div>
</body>    