<%- include('includes/head_admin.ejs') %>
<body>
    <div class="container is-fluid">
        <div class="columns">
            <div class="column is-one-quarter sidebar">
                <%- include('includes/sidebar_admin.ejs') %>
            </div>

            <main class="main-content">
                <div class="box">
                    <figure class="image is-480x320 is-fullwidth">
                        <img src="/images/reporte-tipos.png">
                    </figure>
                </div> 
            </main>
        </div>
    </div>
</body>  