<%- include('includes/head.ejs') %>
<body>
    <div class="container is-fluid">
        <div class="columns">
            <div class="column is-one-quarter sidebar">
                <%- include('includes/sidebar_admin.ejs') %>
            </div>

            <!-- Datos admin/visualizador -->
            <div class="column is-half">
                <h1 class="subtitle is-2">Nombre:</h1>
                    <div class="box">
                        Ricardo Cortes Espinosa
                    </div>
                <h1 class="subtitle is-2">Correo:</h1>
                    <div class="box">
                        rcortesespinosa@ivd.com
                    </div>
                <h1 class="subtitle is-2">Dirección:</h1>
                    <div class="box">
                        Epigmenio González 500 Fracc. San Pablo 76130 Querétaro, Qro
                    </div> 
                    
                    <!-- botón eliminar usuario -->
                    <main class="main-content">
                        <button class="button is-danger is-large is-fullwidth">
                        Eliminar usuario</button>
                    </main>
                </div>
        </div>
    </main>
</body>

</html>