<!DOCTYPE html>
<html lang="es-MX">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIAPago</title>
    <link href="/css/mystyles.min.css" rel="stylesheet" type="text/css">
    <link href="/css/extrastyles.css" rel="stylesheet" type="text/css">
    <link href="/css/fontawesome/css/fontawesome.min.css" rel="stylesheet" />
    <link href="/css/fontawesome/css/brands.min.css" rel="stylesheet" />
    <link href="/css/fontawesome/css/solid.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
</head>

<style>
    .desktop_menu {
        color: #ffffff;
    }

    .main_menu {
        color: #ffffff;
    }

    .switch-label {
        margin-top: 10px;
    }

    .link-reseteo {

        display: inline-block;
        color: #3273dc;
        text-decoration: underline;
    }

    .toggle-password {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
</style>

<header>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-img" href="/">
                <img src="\images\logo.png" alt="Via diseño logo" width="100" height="100">
            </a>
        </div>
    </nav>
</header>

<body>
    <section class="section">
        <div class="container">
            <h3 id="title" class="title"> Establecer Contraseña</h3>
            <form action="/auth/set_password" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input type="hidden" name="token" value="<%= token %>">
                <input type="hidden" name="matricula" value="<%= matricula %>"> <!-- Campo oculto con la matrícula -->
                <div class="field">
                    <div class="control has-icons-left">
                        <input required class="input" type="password" name="newPassword" id="password" placeholder="" />
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                        <label class="switch">
                            <input type="checkbox" onclick="togglePassword('password')">
                            <span class="switch-label">Mostrar contraseña</span>
                        </label>
                    </div>
                </div>
                <button type="submit" class="button is-primary">Guardar Contraseña</button>
            </form>
        </div>
    </section>

    <script type="text/javascript" src="/js/login.js"></script>

</body>
<%- include('./includes/foot.ejs') %>