<%- include('includes/dropdown_visualizador.ejs') %>
<body>

            <div class="column is-three-quarters">
                <div class="box">
                    <p>Para visualizar datos selecciona cualquiera de los símbolos a tu izquierda</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
