<%- include('includes/head.ejs') %>
<body>
    <div class="container is-fluid">
        <div class="columns">
            <div class="column is-one-quarter sidebar">
                <!-- To do: cambiar el sidebar a vista de visualizador -->
                <%- include('includes/sidebar.ejs') %>
            </div>
            <div class="column is-three-quarters">
                <div class="box">
                    <p>Para visualizar datos selecciona cualquiera de los símbolos a tu izquierda</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
