<%- include('includes/dropdown_visualizador.ejs') %>
<body>
            <!-- Info credito -->
            <div class="column is-half">
                <div class="box">
                    <form>
                        <div class="field">
                            <label class="label" for="price">Precio actual:</label>
                            <div class="control">
                                <input class="input" type="text" id="price" value="$500">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label" for="date">Fecha de registro:</label>
                            <div class="control">
                                <input class="input" type="text" id="date" value="7/03/24">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
