<%- include('includes/head_visualizador.ejs') %>
<body>
    <div class="container is-fluid">
        <div class="columns">
            <div class="column is-one-quarter sidebar">
                <!-- To do: cambiar el sidebar a vista de visualizador -->
                <%- include('includes/sidebar_visualizador.ejs') %>
            </div>
            <!-- Info alumno -->
            <div class="column is-half">
                <div class="box">
                    <form>
                        <div class="field">
                            <label class="label" for="matricula">Matrícula:</label>
                            <div class="control">
                                <input class="input" type="text" id="matricula" placeholder="Ingrese la matrícula del estudiante">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label" for="name">Nombre:</label>
                            <div class="control">
                                <input class="input" type="text" id="name" value="Alejandro Muñoz Shimano">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label" for="carrera">Carrera:</label>
                            <div class="control">
                                <input class="input" type="text" id="carrera" value="ITC (Ingeniería de Todos los Cosméticos)">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label" for="semester">Semestre:</label>
                            <div class="control">
                                <input class="input" type="text" id="semestre" value="3">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label" for="price">Precio colegiatura:</label>
                            <div class="control">
                                <input class="input" type="text" id="price" value="$5000">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label" for="monto">Monto a pagar:</label>
                            <div class="control">
                                <input class="input" type="text" id="monto" value="$2500">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label" for="plan">Plan de pago actual:</label>
                            <div class="control">
                                <input class="input" type="text" id="plan" value="Mensualidades">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
