.navbar-item {
  font-size: 18px;
}

#navbar_section {
  width: 100%;
}

.navbar-item {
  border-radius: 30px;
}

.navbar-redondo:hover {
  border-radius: 30px;
  border: solid #ffffff;
}

.navbar-redondo {
  background-color: #000000;
  border: solid transparent;
}

@media (min-width: 1128px) {
  .dropdown-menu {
  top: -14px;
  margin-left: 100%;
  }

  .mobile {
      display: none;
  }

  .cerrar_sesion_mobile {
      display: none;
  }

  .navbar-start {
  margin-left: auto;
  margin-right: auto;
  padding-right: 16%;
  }

  .navbar-end {
    right: 0;
    position: absolute;
  }

  .navbar-redondo {
    border-radius: 30px;
    height: 60%;
    margin-top: 1.2em;
  }

  .navbar-redondo:has(+ .dropdown-hover:hover){
    border: solid #ffffff;
  }

  .has-dropdown:hover > .navbar-redondo{
    border: solid #ffffff;
  }

}

@media (max-width: 1127px) {
  .nested {
      display: none;
  }

  .desktop {
      display: none;
  }

  .navbar-end {
      display: none;
  }

  .mobile-hover{
  border-radius: 30px;
   border: solid transparent;
  }

  .mobile-hover:hover{
    border-radius: 30px;
    border: solid #ffffff;
  }

  .containerConsultarAlumno {
    padding-top: 30px;
  }
}

.is-fullheight-100vh {
  height: 100vh;
}

.navbar-link:hover::after {
  border-color: #ffffff;
}

.confirmar-button  {
  text-align: center;
  float: right;
  border-radius: 10px !important;
  background-color: #000000 !important;
  color: #ffffff !important;
  border: solid #95404c !important;
}

.confirmar-button:focus {
  box-shadow: 0 0 0 2px #015fcc !important;
  background-color: #761D1F !important;
  color: #ffffff;
}

.confirmar-button:hover {
  background-color: #761D1F !important;
  color: #ffffff;
  border: solid #95404c !important;
}

.confirmar-button:hover:disabled{
  background-color: #ba8e8f !important;
  color: #ffffff;
  border: solid #95404c !important;
}

.ficha-table {
  border-radius: 10px;
}

 .textarea, .input, .select select {
  max-width: 100%;
}

.button {
  width: 100%;
  margin: 6px auto;
  background-color: #761D1F;
  color: #ffffff;
  border: solid #95404c;
  padding: 6px 6px;
  height: auto;
}

.button:disabled,
button[disabled] {
  border: 1px solid #761D1F;
  background-color: #95404c;
  color: #ffffff;
}

.button:hover:disabled,
button[disabled] {
  background-color: #7c7f80;
}

.button:hover {
  background-color: #000000;
  color: #ffffff;
  border: solid #95404c;
}

.button:focus {
  box-shadow: 0 0 0 2px #015fcc;
  background-color: #761D1F;
  color: #ffffff;
}

.checkbox input {
  height: 0;
  width: 0;
}

.checkbox {
  display: block;
  position: relative;
  user-select: none;
}

.checkmark {
  position: absolute;
  height: 20px;
  width: 20px;
  border: 2px solid #95404c;
  background-color: #dedbdb;
  border-radius: 50%;
}

.checkbox:hover input~.checkmark {
  background-color: #761D1F;
}

.checkbox input:checked~.checkmark {
  background-color: #761D1F;
}

.checkbox .checkmark:after {
  top: -1px;
  width: 5px;
  height: 10px;
  left: 2px;
  color: white;
}

.checkbox input:checked~.checkmark:after {
  display: block;
}

.checkmark:after {
  content: '✓';
  position: absolute;
  display: none;
}

.Pago-de-Colegiatura {
     background-color: rgba(145, 1, 6, 0.7);
}

.Pago-de-Diplomado {
  background-color: #5a6581;
}

.Pago-a-Registrar {
  background-color: #ffc800;
}

.Pago-Extra {
   background-color: rgba(4, 114, 77, 0.7);
}

 
 
 