.navbar-menu{
  font-size: 25px; /* Ajusta este valor a tus necesidades */
}


.headbar{
  background-color: white;
  height: 125px;
  position: relative;
  z-index: 30;
}


.headbar-start, .headbar-item{
  color: #000000;
  margin:20px;
  padding:20px;
  text-align: center;
}

.headbar-img{
  width: 135px;
  height:135px;
}

.headbar-item {
  color: #000000; /* Ajusta este valor al color que prefieras */
  margin:20px;
  padding:20px;
  text-align: center;
} 

.sidebar-menu {
  font-size: 25px;
  margin-top: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  font-size: 25px;
  color:#000000;
  }
  /* Estilos para pantallas de tamaño grande */
@media (min-width: 1200px) {
  .sidebar-menu {
    width: 300px; /* Ajusta este valor al ancho que prefieras para pantallas grandes */
  }
}

/* Estilos para pantallas de tamaño mediano */
@media (min-width: 768px) and (max-width: 1199px) {
  .sidebar-menu {
    width: 200px; /* Ajusta este valor al ancho que prefieras para pantallas medianas */
  }
}

/* Estilos para pantallas de tamaño pequeño */
@media (max-width: 767px) {
  .sidebar-menu {
    width: 100px; /* Ajusta este valor al ancho que prefieras para pantallas pequeñas */
  }
}


.sidebar-list{
  line-height: 2.25; 
  background-color: #ffffff;
  height: 100vh;
  width: 75%; /* Esto hace que el elemento ocupe todo el ancho de su contenedor */
  float: left;
}

.current-page {
  background-color: black; /* Cambia el color de fondo a negro */
  color: white !important; /* Cambia el color del texto a blanco */
}


/* Estilos para los botones */
.button {
  display: block; /* Hace que el botón sea un bloque y ocupe todo el ancho del contenedor */
  width: 100%; /* Ajusta este valor al ancho que prefieras */
  height: 80%; /* Ajusta este valor al tamaño que prefieras */
  margin: 20px auto; /* Centra el botón horizontalmente y añade un margen vertical */
  text-align: center; /* Centra el texto dentro del botón */
  font-size: 10px; /* Ajusta este valor al tamaño de fuente que prefieras */
}

.main-content{
  font-size:50px;
  text-align: center;
}


/* Estilos específicos para pantallas pequeñas */
@media (min-width: 100px) and (max-width: 1200px),(orientation: landscape) {
  .navbar-item {
    font-size: 20px; /* Reduce el tamaño de la fuente */
  }
  .navbar-start {
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
    width: 100%;
    height: auto; /* Permite que el elemento se ajuste a su contenido */
    justify-content: flex-start;
  }
  .navbar-dropdown {
    display:none; /* Asegura que el menú desplegable se expanda horizontalmente */
  }
  .navbar-dropdown.open{
    display:block;
    align-items: end;
  }

  .navbar-end {
    display: flex;
    justify-content: flex-end;
  }
}

.button {
background-color: #910106;
color: #ffffff;
border: solid #95404c;
padding: 10px 10px; 
height: auto;
}

.button:hover {
background-color: #000000;
color: #ffffff;
border: solid #95404c;
}

.button:focus {
box-shadow: 0 0 0 4px #95404c;
background-color: #910106;
color: #ffffff;
}

.checkbox input {
height: 0;
width: 0;
}

.checkbox {
display: block;
position: relative;
user-select: none;
}

.checkmark {
position: absolute;
height: 20px;
width: 20px;
border: 2px solid #95404c;
background-color: #dedbdb;
border-radius: 50%;
} 

.checkbox:hover input ~ .checkmark {
background-color: #910106;
}
.checkbox input:checked ~ .checkmark {
background-color: #910106;
}

.checkbox .checkmark:after {
top: -1px;
width: 5px;
height: 10px;
left: 2px;
color: white;
}

.checkbox input:checked ~ .checkmark:after {
display: block;
} 

.checkmark:after {
content:'✓';
position: absolute;
display: none;
} 
 