<%- include('../includes/head.ejs', {
    username: username,
    permisos: permisos,
    rol: rol
}) %>

<section class="section">
    <div class="container">
        <h1 class="title"> Realizar Pago</h1>
        <input type="hidden" id="_csrf" name="_csrf" value="<%= csrfToken %>">
        <input class="input" type="number" name="monto" id="monto" step="any">
        <button class="button is-rounded is-medium is-responsive" type="submit"
            style="font-size: large; margin: 8px 2px;" id="Boton_pagar">
            <span>Realizar Pago</span>
            <span class="icon is-large">
                <i class="fa-solid fa-circle-chevron-right" style="color: #ffffff;"></i>
            </span>
        </button>
    </div>
</section>

<script>
    function pagar(monto) {
        //El token de protección CSRF
        const csrf = document.getElementById('_csrf').value;

        fetch('/pagos/mandar_pago', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'csrf-token': csrf
            },
            body: JSON.stringify({
                monto: monto.value
            })
        }).then((result) => {
            return result.json(); //Regresa otra promesa
        }).then((data) => {
            console.log(data.cipher);

            let originalString = 'xml=<pgs><data0>SNDBX123</data0><data>' + data.cipher + '</data></pgs>';
            let data_xml = encodeURIComponent(originalString);

            // Haces la petición tipo fetch con el API de santander
            fetch('https://sandboxpo.mit.com.mx/gen', {
                method: 'POST', 
                headers: {
                    // Le pasas que tipo de content es
                    'Content-Type': 'application/x-www-form-urlencoded'
                }, 
                body: JSON.stringify({
                    // Le pasas los datos cifrados
                    data: data_xml
                })
            }).then((result) => {
                return result.json();
            }).then((data) => {
                // Imprimes la respuesta del servidor
                console.log(data)
            });
        }).catch(err => {
            console.log(err);
        });
    }

    const boton_pagar = document.getElementById('Boton_pagar');
    const monto = document.getElementById('monto');
    boton_pagar.addEventListener('click', function () {
        pagar(monto);
    });

</script>