<%- include('../includes/head.ejs', {
    username: username,
    permisos: permisos,
    rol: rol
}) %>

<section class="section">
    <div class="container">
        <h1 class="title"> Realizar Pago</h1>
        <input class="input" type="number" name="monto" id="monto">
        <button class="button is-rounded is-medium is-responsive" type="submit"
            style="font-size: large; margin: 8px 2px;" id="Boton_pagarr">
            <span>Realizar Pago</span>
            <span class="icon is-large">
                <i class="fa-solid fa-circle-chevron-right" style="color: #ffffff;"></i>
            </span>
        </button>
    </div>
</section>

<script>
    
</script>