<%- include('../includes/dropdown_admin.ejs') %>

<section class="section">
    <div class="container">
        <h3 class="title is-3">Registrar Nuevo Pago Extra</h3>
        <form action="/pagos/registrar_pago_extra" method="POST">
            <label class="label" for="motivo">Motivo: </label>
            <input name="motivo" class="input" type="text" id="motivo"><br>
            <label class="label" for="monto">Monto:</label>
            <input name="monto" class="input" type="text" id="monto"><br><br>
            <button class="button button is-rounded is-medium is-responsive" type="submit"
                style="font-size: medium; margin: 8px 2px;">
                <span>Registrar Pago Extra</span>
                <span class="icon is-large">
                    <i class="fa-solid fa-circle-chevron-right" style="color: #ffffff;"></i>
                </span>
            </button>
        </form>
    </div>
</section>