<%- include('../includes/dropdown_admin.ejs') %>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-3"></div>
            <div class="column is-6">
                <h3 class="title is-3">Registrar Nuevo Pago Extra</h3>
            </div>
        </div>
        <form action="/pagos/registrar_pago_extra" method="POST">
            <div class="columns">
                <div class="column is-3"></div>
                <div class="column is-6">
                    <label class="label is-medium" for="motivo">Motivo: </label>
                    <input name="motivo" class="input is-medium" type="text" id="motivo"
                        placeholder="Concepto del nuevo Pago Extra">
                </div>
            </div>
            <div class="columns">
                <div class="column is-3"></div>
                <div class="column is-6">
                    <label class="label is-medium" for="monto">Monto:</label>
                    <div class="field">
                        <p class="control has-icons-left">
                            <input name="monto" class="input is-medium" type="text" id="monto"
                                placeholder="Monto del nuevo Pago Extra">
                                <span class="icon is-small is-left">
                                    <i class="fa-solid fa-dollar-sign" style="color: #95404c;"></i>
                                </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column is-3"></div>
                <div class="column is-6">
                    <button class="button is-rounded is-medium is-responsive" type="submit"
                        style="font-size: large; margin: 8px 2px;">
                        <span>Registrar Pago Extra</span>
                        <span class="icon is-large">
                            <i class="fa-solid fa-circle-chevron-right" style="color: #ffffff;"></i>
                        </span>
                    </button>
                </div>
                <div class="column is-3"></div>
            </div>
        </form>
    </div>
</section>