<%- include('../includes/dropdown_admin.ejs') %>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-3"></div>
            <div class="column is-6">
                <h3 class="title is-3">Registrar Nuevo Pago Extra</h3>
            </div>
        </div>
        <div class="columns">
            <div class="column is-3"></div>
            <div class="column is-6">
                <label class="label is-medium" for="motivo">Motivo: </label>
                <p class="help is-hidden has-text-danger-dark" id="ayuda_motivo"
                    style="padding: 0.5em; margin-top: -1em;">Por favor
                    escribe un concepto de Pago Extra.</p>
                <div class="field">
                    <p class="control has-icons-left">
                        <input name="motivo" class="input is-medium" type="text" id="motivo"
                            placeholder="Concepto del nuevo Pago Extra">
                        <span class="icon is-small is-left">
                            <i class="fa-solid fa-circle-info" style="color: #95404c;"></i>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-3"></div>
            <div class="column is-6">
                <label class="label is-medium" for="monto">Monto:</label>
                <p class="help is-hidden has-text-danger-dark" id="ayuda_monto_vacio"
                    style="padding: 0.5em; margin-top: -1em;">
                    Por favor
                    escribe un monto válido del Pago Extra.</p>
                <p class="help is-hidden has-text-danger-dark" id="ayuda_monto_negativo"
                    style="padding: 0.5em; margin-top: -1em;">Por
                    favor escribe un número mayor a 0. Un monto no puede ser un número negativo.</p>
                <div class="field">
                    <p class="control has-icons-left">
                        <input name="monto" class="input is-medium" type="number" id="monto"
                            placeholder="Monto del nuevo Pago Extra">
                        <span class="icon is-small is-left">
                            <i class="fa-solid fa-dollar-sign" style="color: #95404c;"></i>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-3"></div>
            <div class="column is-6">
                <button class="js-modal-trigger button is-rounded is-medium is-responsive"
                    data-target="modal-confirmar-registro" id="Boton_registrar" disabled>
                    <span>Registrar Pago Extra</span>
                    <span class="icon is-large">
                        <i class="fa-solid fa-circle-chevron-right" style="color: #ffffff;"></i>
                    </span>
                </button>
            </div>
            <div class="column is-3"></div>
        </div>

        <div id="modal-confirmar-registro" class="modal">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title" style="text-align: center;">Registrar Pago Extra</p>
                </header>
                <section class="modal-card-body">
                    <p class="is-size-5" style="text-align: center;"> Los datos del pago extra a registrar son los
                        siguientes: </p>
                    <br>
                    <div class="columns">
                        <div class="column is-6" style="text-align: center;">
                            <p class="is-size-4"> <strong>Motivo: </strong></p>
                        </div>
                        <div class="column is-6" style="text-align: center;">
                            <p class="is-size-4"> <strong>Monto: </strong></p>
                        </div>
                    </div>
                </section>
                <footer class="modal-card-foot" style="justify-content: center;">
                    <div class="field is-grouped">
                        <p class="control">
                            <button class="button is-rounded is-medium is-responsive" aria-label="close"
                                style="font-size: large; margin: 8px 2px;">
                                <span>Regresar</span>
                                <span class="icon is-large">
                                    <i class="fa-solid fa-circle-chevron-right" style="color: #ffffff;"></i>
                                </span>
                            </button>
                        </p>
                        <p class="control">
                            <form action="/pagos/registrar_pago_extra" method="POST">
                                <button class="button is-rounded is-medium is-responsive" type="submit"
                                    style="font-size: large; margin: 8px 2px;">
                                    <span>Registrar Pago Extra</span>
                                    <span class="icon is-large">
                                        <i class="fa-solid fa-circle-chevron-right" style="color: #ffffff;"></i>
                                    </span>
                                </button>
                            </form>
                        </p>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    <script>
        // Crear constantes para acceder a HTML
        const bt_Registrar = document.querySelector('#Boton_registrar');
        const motivo = document.querySelector('#motivo');
        const monto = document.querySelector('#monto');
        const ayuda_motivo = document.querySelector('#ayuda_motivo');
        const ayuda_monto_vacio = document.querySelector('#ayuda_monto_vacio');
        const ayuda_monto_negativo = document.querySelector('#ayuda_monto_negativo');

        // Checar si hay contenido dentro del input, pata desactivar el boton
        function checar_contenido() {
            bt_Registrar.disabled = motivo.value.length === 0 || monto.value.length === 0;
        }

        // Activar mensaje si el motivo no tiene input
        function mensaje_motivo() {
            if (motivo.value.length === 0) {
                ayuda_motivo.classList.remove('is-hidden');
            } else {
                ayuda_motivo.classList.add('is-hidden');
            }
        }

        function mensaje_monto() {
            if (monto.value.length === 0) {
                ayuda_monto_vacio.classList.remove('is-hidden');
            } else {
                ayuda_monto_vacio.classList.add('is-hidden');
            }

            if (monto.value < 0) {
                ayuda_monto_negativo.classList.remove('is-hidden');
            } else {
                ayuda_monto_negativo.classList.add('is-hidden');
            }
        }
        // Detectar si el usuario maneja input y llamar las funciones anteriores
        motivo.addEventListener('input', checar_contenido);
        monto.addEventListener('input', checar_contenido);
        motivo.addEventListener('input', mensaje_motivo);
        monto.addEventListener('input', mensaje_monto);
    </script>
    <script type="text/javascript" src="/js/modal_popup.js"></script>
</section>