<%- include('../includes/dropdown_admin.ejs') %>

<section class="section">
    <div class="container">
        <h3 class="title is-3">Solicitudes de pago sin liquidar</h3>
        <% for (let solicitud of solicitudes) { %>
        <table class="table is-bordered is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th colspan="2">
                        <div class="columns is-vcentered">
                            <div class="column is-1">
                            </div>
                            <div class="column is-4">
                                Nombre: <%= solicitud.Nombre %>
                                <%= solicitud.Apellidos %>
                            </div>
                            <div class="column is-3">
                                Matricula: <%= solicitud.Matricula %>
                            </div>
                            <div class="column">
                                <form action="/plantilla_correo" method="POST">
                                    <input type="hidden" name="matricula" id="matricula" value="">
                                    <button type="submit" class="button is-rounded is-medium is-responsive"
                                        style="font-size: medium;">
                                        <span>Enviar Correo</span>
                                        <span class="icon is-large">
                                            <i class="fa-solid fa-circle-chevron-right" style="color: #ffffff;"></i>
                                        </span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="columns is-vcentered">
                            <div class="column is-full" style="text-align: center;">
                                <strong>Pago #</strong>
                            </div>
                        </div>
                        <div class="columns is-vcentered">
                            <div class="column is-narrow" style="text-align: center;">
                                <i class="fa-solid fa-circle-check fa-2xl" style="color: #17b585;"></i>
                            </div>
                            <div class="column" style="text-align: center;">
                                <strong>Pendiente:</strong>
                                <br>
                                <strong>Total:</strong>
                                <br>
                                <strong>Pagado:</strong>
                            </div>
                            <div class="column" style="text-align: center;">
                                <strong>Fecha Limite Pago:</strong>
                                <br>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <% } %>
        <div class="columns">
            <div class="column is-6 is-offset-3">
                <form action="/pagos" method="GET">
                    <button class="button is-rounded is-medium is-responsive"
                        style="font-size: medium; margin: 8px 2px;">
                        <span>Regresar a Pagos</span>
                        <span class="icon is-large">
                            <i class="fa-solid fa-circle-chevron-right" style="color: #ffffff;"></i>
                        </span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>