<%- include('../includes/head.ejs') %>

<div class="notification">
  <div class="columns is-vcentered">
    <div class="column">
      <label class="block font-semibold">Semestre:</label>
      <div class="mt-1 px-4 py-2 bg-gray-100 rounded border"><%= estudianteProfesional.semestreActual %></div>
    </div>
    <div class="column">
      <label class="block font-semibold">Porcentaje de Beca:</label>
      <div class="mt-1 px-4 py-2 bg-gray-100 rounded border"><%= estudianteProfesional.porcBeca %>%</div>
    </div>
  </div>
</div>
</html>
