<%- include('../includes/head.ejs', {
    username: username,
    permisos: permisos,
    rol: rol
}) %>

<body>
<div style="text-align: center; font-size: 2em;">
    <h1>Recibir Pago</h1>
    <p>
        Esta es una pagina de prueba para recibir pagos
    </p>
</div>
</body>
<%- include('../includes/foot.ejs') %>

