<%- include('../includes/head.ejs', { username: username, permisos: permisos, rol: rol }) %>
<style>
    .form-button {
        margin-bottom: 20px;
        /* Ajusta este valor según la separación que desees */
    }
</style>

    <body>
        <section class="section">
            <div class="container">
                <label class="label is-large has-text-danger has-text-weight-semibold">
                    SINCRONIZAR BASE DE DATOS
                </label>
                <br>
                <div id="aceptar_resagados" class="notification is-hidden"
                    style="background-color: #5a6581; color:#ffffff;">
                    ¡Horarios confirmados! Recargando página...
                </div>

                <div id="aceptar_materias" class="notification is-hidden"
                    style="background-color: #5a6581; color:#ffffff;">
                    ¡Materias registradas! Recargando página...
                </div>

                <div id="aceptar_periodos" class="notification is-hidden"
                    style="background-color: #5a6581; color:#ffffff;">
                    ¡Periodos confirmados! Recargando página...
                </div>
                
                <div class="box">
                    <p class="has-text-weight-medium has-text-black">
                        Por favor, elige el tipo de dato que se va a sincronizar. Toma en cuenta, que todos los procesos son automatizados
                        a excepción de Obtener Alumnos, ya que se tiene que insertar su beca junto con su referencia bancaria.
                    </p>
                </div>
               
                <div class="columns">
                    <div class="column is-6">
                        <form action="/configuracion/actualizarAlumnos" method="GET" class="form-button">
                            <button type="submit" class="confirmar-button button is-large is-fullwidth is-responsive">
                                <span>
                                    Obtener Alumnos
                                </span>
                                <span class="icon is-large">
                                    <i class="fa-solid fa-circle-chevron-right" style="color: #ffffff;"></i>
                                </span>
                            </button>
                        </form>
                    </div>
                    <div class="column is-6">
                        <button type="submit"
                            class="confirmar-button button is-large is-fullwidth is-responsive form-button"
                            onclick="registrar_materias()">
                            <span>
                                Registrar Materias
                            </span>
                            <span class="icon is-large">
                                <i class="fa-solid fa-circle-chevron-right" style="color: #ffffff;"></i>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-6">
                        <button type="submit"
                            class="confirmar-button button is-large is-fullwidth is-responsive form-button"
                            onclick="registrar_periodos()">
                                <span>
                                    Obtener Periodos
                                </span>
                                <span class="icon is-large">
                                    <i class="fa-solid fa-circle-chevron-right" style="color: #ffffff;"></i>
                                </span>
                            </button>
                        </form>
                    </div>
                    <div class="column is-6">
                        <button type="submit"
                            class="confirmar-button button is-large is-fullwidth is-responsive form-button"
                            onclick="aceptar_horarios()">
                            <span>
                                Confirmar Horarios Rezagados
                            </span>
                            <span class="icon is-large">
                                <i class="fa-solid fa-circle-chevron-right" style="color: #ffffff;"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </body>
<%- include('../includes/foot.ejs') %>
<script type="text/javascript" src="/js/actualizarBase.js"></script>
<script type="text/javascript" src="/js/actualizarMaterias.js"></script>
<script type="text/javascript" src="/js/actualizarPeriodos.js"></script>