<%- include('../includes/head.ejs', { 
    username: username, 
    permisos: permisos, 
    rol: rol 
}) %>
 
<body>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-3"></div>
                <div class="column is-7">
                    <label class="label is-large has-text-danger has-text-weight-semibold">
                        EXPORTAR DATOS DE PAGOS
                    </label>
                </div>
            </div>
            <div class="columns">
                <div class="column is-3"></div>
                <div class="column is-6">
                    <div class="box">
                        <p class="has-text-weight-medium has-text-black">
                            Selecciona un rango de fechas y el tipo de pagos a exportar para poder descargar la información de la base de datos 
                            en un CSV.
                        </p>
                    </div>
            
            <form action="/configuracion/exportarDatos" method="post">
                <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>">
                <div class="columns">
                    <div class="column is-4">
                        <div class="field">
                            <input class="is-checkradio is-medium has-background-color is-info" id="colegiatura"
                                type="checkbox" name="colegiatura" checked>
                            <label class="label is-medium" for="colegiatura">
                                    Pagos Colegiatura
                            </label>
                        </div>
                    </div>
                    <div class="column is-4">
                        <div class="field">
                            <input class="is-checkradio is-medium has-background-color is-info" id="pag_dipl" type="checkbox"
                                name="pag_dipl" checked>
                            <label class="label is-medium" for="pag_dipl">
                                Pagos Diplomado
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <input class="is-checkradio is-medium has-background-color is-info" id="extra"
                                type="checkbox"
                                name="extra" checked>
                            <label class="label is-medium" for="extra">
                                Otros Pagos
                            </label>
                        </div>
                    </div>
                
                <div class="columns">
                        <% if (error) { %>
                        <div id="errorNotification" class="notification is-danger">
                            <button id="closeNotification" class="delete" type="button"></button>
                            <%= errorMensaje %>
                        </div>
                        <% } %>
                    </div>
                </div>
            
                    <p class="help is-hidden has-text-danger-dark" id="ayuda_fecha_vacia_1"
                        style="padding: 0.5em; margin-top: -1em;">
                            Por favor selecciona una fecha. 
                    </p>
                    <label class="label is-medium" for="fecha_inicio">
                        Rango de Fechas:
                    </label>
                    <input type="date" id="fecha" name="fecha" class="datepicker">
                </div>
                
            </div>
                
                <div class="columns">
                    <div class="column is-3"></div>
                        <div class="column is-6">
                            <p class="control">
                                <button type="submit" class="button is-medium is-responsive" id="btn_exportar"
                                style="font-size: medium; background: #000000;">
                                    <span>
                                        DESCARGAR DATOS
                                    </span>
                                    <span class="icon is-large">
                                        <i class="fa-solid fa-download" style="color: #ffffff;"></i>
                                    </span>
                                </button>
                            </p>
                        </div>
                </div>
            </form>
        </div>
    </section>
    <script type="text/javascript" src="/js/exportarDatos.js"></script>
</body>
<%- include('../includes/foot.ejs') %>
