<%- include('../includes/head', { 
    username: username, 
    permisos: permisos, 
    rol: rol 
}) %>

<section class="section">
    <div class="container">
        <h3 id="title" class="title">Ingresa el username</h3>
        <div class="column is-6">
            <% if (error) { %>
            <div id="errorNotification" class="notification is-danger">
                <button id="closeNotification" class="delete" type="button"></button>
                <%= errorMensaje %>
            </div>
            <% } %>
        </div>
        <form action="/configuracion/obtener_usuario" method="POST">
            <input type="hidden" id="_csrf" name="_csrf" value="<%= csrfToken %>">
            <p class="help is-hidden has-text-danger-dark" id="ayuda_buscar" style="padding: 0.5em; margin-top: -1em;">
                Por favor ingresa a un usuario.
            </p>
            <p class="help is-hidden has-text-danger-dark" id="ayuda_usuario" style="padding: 0.5em; margin-top: -1em;">
                Por favor selecciona a un usuario de la lista.
            </p>
            <p class="help is-hidden has-text-danger-dark" id="ayuda_vacio" style="padding: 0.5em; margin-top: -1em;">
                No existe un usuario con esa matrícula. Favor de intentar de nuevo.
            </p>
            <p class="help is-hidden has-text-danger-dark" id="ayuda_registrado" style="padding: 0.5em; margin-top: -1em;">
                Ese usuario ya esta registrado en el sistema.
            </p>
            <div class="field">
                <p class="control has-icons-left">
                    <input name="user" class="input is-medium" type="text" id="user"
                        placeholder="Matrícula del Usuario" />
                    <span class="icon is-small is-left">
                        <i class="fa-solid fa-magnifying-glass" style="color: #95404c;"></i>
                    </span>
                </p>
            </div>
            <button id="registrarAdmin" type="submit" class="button is-rounded is-medium is-responsive"
                style="font-size: large; margin: 8px 2px;" disabled>
                <span> 
                    Obtener Usuario
                </span>
                <span class="icon is-large">
                    <i class="fa-solid fa-circle-chevron-right" style="color: #ffffff;"></i>
                </span>
            </button>
        </form>
        <p id="errorMessage" style="color: red;"></p>
    </div>
</section>
</body>

<script type="text/javascript" src="/js/obtener_usuario.js"></script>

</html>