<%- include('../includes/head.ejs', {
    username: username,
    permisos: permisos,
    rol: rol
}) %>
        
        <section class="section">
            <div class="container">
                <input type="hidden" id="_csrf" value="<%= csrfToken %>">
                <div class="columns">
                    <div class="column is-6">
                        <h3 class="title is-3">Precio Crédito</h3>
                    </div>
                    <% if (contienePermiso(permisos, 'Registrar Costo Credito') == true) { %>
                    <div class="column is-offset-2">
                        <p class="control">
                            <a class="button is-rounded is-responsive" style="font-size: large;"
                                href="/configuracion/registrar_precio_credito">
                                <span class="icon is-large">
                                    <i class="fa-solid fa-circle-plus"></i>
                                </span>
                                <% } %>
                                <span>
                                    Registrar Precio Crédito
                                </span>
                            </a>
                        </p>
                    </div>
                </div>

                <div class="column">
                    <div class="columns is-vcentered" style="text-align: center;">
                        <div class="column">
                            <div class="select">
                                <select class="select_anio" name="anio" id="anio" style="border: 2px solid #7c7f80;">
                                    <option>Selecciona un Año</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <br></br>

    <table class="table is-bordered is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>
                    <p class="is-size-5">
                        <strong>Monto: </strong>
                    </p>
                </th>
                <th>
                    <p class="is-size-5">
                        <strong>Fecha de Registro: </strong>
                    </p>
                </th>
            </tr>
        </thead>
        <tbody>
                <td>
                    <div class="column">
                        $ <%= precio_actual[0].precioPesos %>
                    </div>
                </td>
                <td>
                    <div class="column">
                        <%= new Date(precio_actual[0].fechaModificacion).toLocaleDateString('es-ES') %>
                    </div>
                </td>
            </tbody>
        </table>