<%- include('../includes/head', {
    username: username,
    permisos: permisos,
    rol: rol
}) %>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-8">
                <h3 class="title is-3">Registrar Usuario</h3>
            </div>
        </div>
        <form action="/pagos/registrar_solicitud" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="columns is-vcentered">
                <div class="column is-3"></div>
                <div class="column is-5">
                    <label class="label is-medium" for="pago">Tipo de usuario:</label>
                    <div class="control has-icons-left">
                        <div class="select is-medium">
                            <select>
                                <% for (let roles of roles_disponibles) { %> 
                                <option><%= roles.nombreRol%></option>
                                <%}%>
                            </select>
                        </div>
                        <div class="icon is-medium is-left">
                            <i class="fa-solid fa-circle-info" style="color: #95404c;"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column is-3"></div>
                <div class="column is-6">
                    <button class="button is-rounded is-medium is-responsive" type="submit"
                        style="font-size: large; margin: 8px 2px;" id="Boton_registrar">
                        <span>Registrar Solicitud</span>
                        <span class="icon is-large">
                            <i class="fa-solid fa-circle-chevron-right" style="color: #ffffff;"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>