<%- include('../includes/head.ejs') %>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-6">
                <h3 class="title is-3" style="margin-bottom: 0;">Registrar Plan de Pago</h3>
            </div>
            <div class="column is-offset-2">
                <p class="control" style="margin-bottom: 0;">
                    <a class="button is-rounded is-responsive" style="font-size: large;"
                        href="/configuracion/administrar_planpago">
                        <span class="icon is-large">
                            <i class="fa-solid fa-arrow-left"></i>
                        </span>
                        <span>
                            Volver a Administrar Planes de Pago
                        </span>
                    </a>
                </p>
            </div>
        </div>

        <div class="container" style="display: flex; justify-content: center;">
            <div id="modificacion_plan_pago" class="notificationPlanPago is-hidden"
                style="background-color: #5a6581; color:#ffffff;">
                <button id="btn_eliminar_estatus" class="delete"></button>
                ¡Plan de Pago Registrado! Recargando datos...
            </div>

            <div class="content" style="width: 70%; margin-top: 50px;">
                <div class="card" style="margin-bottom: 20px; border: 5px solid #910106;">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <form class="formRegistrarPlanPago" action="/configuracion/registrar_planpago" method="POST">
                                    <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>">
                                    <div class="field">
                                        <label class="label">Nombre del Plan</label>
                                        <div class="control">
                                            <input required class="input" type="text" name="nombrePlan" />
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label">Número de Pagos</label>
                                        <div class="control">
                                            <input class="input" type="number" name="numeroPagos" />
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label">Estado</label>
                                        <div class="control">
                                            <div class="select">
                                                <select name="planPagoActivo">
                                                    <option value="1">Activo</option>
                                                    <option value="0">No Activo</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <button id="btn_aplicar_cambios" type="submit"
                                        class="button is-large is-rounded is-responsive">Registrar plan</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        // Función para mostrar la notificación y recargar la página
        function mostrarNotificacionYRecargar(notificacion) {
            $(notificacion).removeClass('is-hidden'); // Mostrar notificación

            // Recargar la página después de mostrar la notificación por 3 segundos (3000 milisegundos)
            setTimeout(function () {
                window.location.reload(); // Recargar la página
            }, 1500);
        }

        // Mostrar la notificación y recargar la página después de enviar un formulario
        $('.formRegistrarPlanPago').submit(function (event) {
            event.preventDefault(); // Evitar que el formulario se envíe automáticamente

            $.ajax({
                type: 'POST',
                url: $(this).attr('action'), // Obtener la URL del formulario actual
                data: $(this).serialize(),
                success: function () {
                    // Buscar la notificación relacionada con el formulario enviado
                    var notificacion = $('#modificacion_plan_pago');

                    mostrarNotificacionYRecargar(notificacion);
                },
                error: function () {
                    console.log('Error al enviar el formulario');
                }
            });
        });

        // Cerrar notificación al hacer clic en el botón eliminar
        $('.delete').click(function () {
            $(this).parent().addClass('is-hidden'); // Ocultar notificación al hacer clic en el botón eliminar
        });
    });
</script>
